{% extends  'base/base.html' %}
{% load static %}
{% load i18n %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}"/>
<style>
ul {
	list-style-type: none;
}
input[type="text"] {
	display: block;
}
input.action {
	width: 100%;
    margin-top: 8px;
}
</style>
<div class="card" id="header">
	<h1 align="center" class="card-body">{{ caption }}</h1>
</div>

<div>
	<div class="card shortcard">
		<div class="card-body">
			<form action="{{ action }}" method="post" class="form" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form }}
				<div class="action">
					<input type="submit" value="Submit" class="btn btn-outline-primary action">
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}