{% extends  'base/base.html' %}
{% load static %}
{% load i18n %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}"/>
<style>
ul {
	list-style-type: none;
}
input[type="text"] {
	display: block;
}
</style>
<div class="card" id="header">
	<h1 align="center" class="card-body">{% trans 'Edit profile' %}</h1>
</div>

<div>
	<div class="card shortcard" id="card-{{ person.rowdata.id }}">
		<div class="card-body">
			<form action="/verify/" method="post" class="form" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Submit" class="btn btn-outline-primary">
			</form>
		</div>
	</div>
</div>
{% endblock %}