<!doctype  html>
  <html  lang="en">
  <head>
    <link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
    <style type="text/css">
    div.sidebar{
      margin: 0px;
      padding: 0px;
      border-radius: 8px;
    }
    nav.sidebar{
      border-bottom-right-radius: 8px;
    }
    #sidebar-container {
      margin: 0px;
      padding: 0px;
    } 
    #main-row {
      margin: 0px;
    }
/*    nav.sidebar{
      width: 100%;
    }*/
  </style>
  <title>Инфопортал 'Наставник'</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Инфопортал 'Наставник'</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/profile/">Аккаунт</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/setlanguage/">Смена языка</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Выход</a>
        </li>
      </ul>
    </div>
  </nav>


  <!-- ============================= -->

  <div  class="container-fluid"  id="sidebar-container">
    <div  class="row justify-content-left" id="main-row">

      <div class="col-4 sidebar"> 
        <nav class="nav flex-column col-8 bg-dark sidebar">
          <a class="nav-link text-light" href="/outgoing/">Outgoing</a>
          <a class="nav-link text-light" href="/incoming/">Incoming</a>
          <a class="nav-link text-light" href="/friends/">Friends</a>
          <a class="nav-link text-light" href="/search/">Search</a>
        </nav>
      </div>

      <!-- ============================= -->

      <div  class="col-4">
        <!-- <h1  class="text-center">Django Authentication Example</h1> -->
        {% block main %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>