{% extends  'base.html' %}

{% block main %}

{% block upper %}
{% endblock %}

{% block center %}

<div>
    <div class="card">
        <div class="card-body">
            <p> {{ person.name }} {{ person.surname }}</p>
            <p>ID: {{ person.id }}</p>
            <p> Username: @{{ person.username}}</p>
            {% if person.is_moderator %}
                <p>Moderator: <input type="checkbox" checked></p>
            {% else %}
                <p>Moderator: <input type="checkbox"></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block lower %}
{% endblock %}

{% endblock %}