{% extends  'base.html' %}

{% block main %}

{% block upper %}
{% endblock %}

{% block center %}
<style type="text/css">
    .shortcard {
        margin-top: 8px;
        margin-bottom: 8px;
    }
</style>

{% for person in friends %}
<div>
    <div class="card shortcard">
        <div class="card-body">
            <p> {{ person.name }} {{ person.surname }}</p>
            <p>ID: SECURED</p>
            <p> Username: @{{ person.username}}</p>
            {% if person.is_moderator %}
                <p>Moderator: <input type="checkbox" checked></p>
            {% else %}
                <p>Moderator: <input type="checkbox"></p>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block lower %}
{% endblock %}

{% endblock %}